<div *ngIf="searchResult$ | async as searchResult">
  <h2>Repositories</h2>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th  scope="col" class="w-20" style="width:10px" >ID</th>
              <th  scope="col" class="w-20" style="width:10%">Owner</th>
              <th  scope="col" class="w-20" style="width:10%">Name</th>
              
              <th>Select Issue</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of searchResult.items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
              <td>{{ result.id }}</td>
              <td>{{ result.owner.login }}</td>
              <td>{{ result.full_name }}</td>
              <td><button>Select</button></td>
              <!-- <td><button (click)="detailRepositories(result.id)" >Select</button></td> -->
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="searchResult.items.length" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
      
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
</div>
