
<h1>Github Repositories Search</h1>

<label class="mt-2">
  <span>Repository name:</span>
  <input type="text" [ngModel]="''" (ngModelChange)="onTextChange($event)"/>
</label>


<div class="row">
  <div class="col">
    <app-githubrepo [searchResult$]="searchResult$" ></app-githubrepo>
  </div>
  <div class="col">
    <app-githubissue></app-githubissue>
  </div>
</div>