<div >
  <h2>Repositories</h2>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col" >ID</th>
              <th scope="col">Owner</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              
              <td>dcdc</td>
              <td>dcdc</td>
              <td>dcdc</td>
          
              <!-- <td><button (click)="detailRepositories(result.id)" >Select</button></td> -->
            </tr>
          </tbody>
        </table>
</div>



